.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container .footer-container {
    margin-top: auto;
}

.first-section {
  padding-top: 4rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: poppins-bold;
  font-size: var(--h-1-font-size);
  font-weight: bold;
  color: var(--x-primary-100);
}

.logo-home {
  width: 24rem;
  height: 24rem;
}

.subtitle {
  margin: 1rem 0;
  font-size: var(--h-3-font-size);
  font-weight: bold;
  color: var(--x-accent-100);
}

.transition {
  position: relative;
}

.rectangle {
  width: 100vw;
  height: 2.5rem;
  overflow-x: hidden;
}

.watermark {
  width: max-content;
  text-align: center;
  transform: translateX(-2.5rem);
  font-size: var(--h-4-font-size);
}

.rectangle:nth-child(1){
  transform: rotate(-1deg) translateX(-1px);
  background-color: var(--x-primary-100);
}

.rectangle:nth-child(2){
  transform: rotate(1deg) translateY(-2.5rem) translateX(-1px);
  background-color: var(--x-secondary-100);
}

.second-section {
  width: calc(100vw - 8rem);
  /* background-color: aqua; */
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.input-label {
  font-size: var(--h-3-font-size);
  margin-bottom: 2rem;
  color: var(--x-accent-100);
  font-weight: bold;
}

#input-info {
  width: inherit;
  height: 20rem !important;
  outline: none;
  resize: none;
  border: none;
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--h-4-font-size);
  /* border-radius: 10rem; */
  background-color: var(--x-secondary-10);
}

#input-info:focus {
  transition: linear .5s;
  border: 1px solid var(--x-primary-100);
}

#check-info {
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.error-message {
  margin-top: .75rem;
  color: var(--x-primary-100);
  font-size: var(--h-5-font-size);
  font-style: italic;
}